:root {
--dark-blue: hsl(234, 12%, 34%);
--grayish-blue: hsl(229, 6%, 66%);
--light-gray: hsl(0, 0%, 98%);
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--light-gray);
    font-family: 'Poppins', sans-serif;
}
main {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto 68px;
}
.heading {
    margin: 72px auto 65px;
    text-align: center;
    color: var(--dark-blue);
}
h1 {
    font-size: 37px;
    font-weight: 200;
}
h1.bold {
    margin-bottom: 18px;
}
.bold {
    font-weight: 600;
}
.heading p {
    font-size: 15px;
    color: var(--grayish-blue);
    width: 46%;
    margin: 0 auto;
}
.container {
    display: flex;
}
.container > .card, .cards-container {
    width: 33%;
    max-width: 350px;
    flex: 1;
}
.cards-container {
    margin: 0 30px;
}

.cards-container > .card:first-child {
    margin-bottom: 30px;
}
.card {
    box-shadow: 5px 10px 20px -5px hsla(229, 6%, 66%, 0.3);
    align-self: center;
    text-align: right;
    border-radius: 5px;
    background-color: white;
    transition: .4s;
}
.card-content {
    width: 82%;
    margin: 0 auto;
    padding: 27px 0 30px;
}
h2 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 9px;
    color: var(--dark-blue);
}
.card p {
    font-size: 13px;
    margin-bottom: 39px;
    text-align: left;
    color: var(--grayish-blue);
}
.supervisor {
    border-top: 4px solid var(--cyan);
}
.tm {
    border-top: 4px solid var(--red);
}
.karma {
    border-top: 4px solid var(--orange);
}
.calc {
    border-top: 4px solid var(--blue);
}
.card:hover {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

@media (max-width: 650px) {
    main {
        margin-bottom: 78px;
    }
    h1 {
        font-size: 24px;
    }
    .heading p {
        width: 83%;
    }
    .card p {
        margin-bottom: 31px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .cards-container {
        margin: 23px 0;
        width: 82%;
    }
    .cards-container .card:first-child {
        margin-bottom: 23px;
    }
    .container > .card {
        width: 82%;
    }
}